<center>
<br>
<br>
<h1>Pirate Download</h1>
<br>
<img src="https://lh6.googleusercontent.com/-fLzkrQ2rlBA/AAAAAAAAAAI/AAAAAAAACPE/3H4imRGf05g/photo.jpg" alt="HTML5 Icon" style="width:128px;height:128px;">
<br>
<br>
<style type="text/css">
 body {
   color: purple;
   background-color: #d8da3d }
 </style>
<form method="POST">
    <input type="text" name="first" value="">
    <input type="submit" value="Download">
    {% if result %}
    <p>
        <label name='result'>Answer is: {{ result }}</label>
    </p>
    {% endif %}
    {% if error %}
    <p>
    <label name="error">{{ error }}</label>
    </p>
    {% endif %}
</form>
</center>
